{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": false, "legacy": false }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    ["@babel/preset-typescript", {}]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
